footer {
    padding: 50px 0;
    background-color: $amarillo;
    .row {
        p {
            font-weight: 700;
            text-align: center;
            font-size: 1.2rem;
            @include mq(md){
                font-size: 1.5rem;
            }
            span {
                font-weight: 800;
            }
        }
        .redes-sociales {
            margin-top: 1.5rem;
            ;
            display: flex;
            justify-content: center;
            a {
                span {
                    padding: 5px;
                    font-size: 3.5rem;
                    color: $marron;
                    transition: all ease-in-out 0.2s;
                    &:hover {
                        font-size: 4rem;
                    }
                }
            }
            a:nth-child(2) {
                margin: 0 4rem;
            }
        }
    }
}
