header#header {
    background-color: $amarillo;
    box-shadow: 0 2px 2px $marron;
    padding: 20px 20px;
    position: fixed;
    z-index: 99;
    @include mq(md) {
        position: static;
    }
    @include mq(lg) {
        padding: 20px 30px 20px 30px;
    }
    @include mq(xlg) {
        padding: 20px 50px 20px 50px;
    }
    width: 100%;
    z-index: 9999;
    top: 0;
    div.logo {
        padding-left: 3vmax;
        img {
            height: 7.5vmax;
            @include mq(lg) {
                height: 10vmin;
            }
        }
    }
    button {
        outline: none;
        span {
            color: $marron;
            font-size: 5vmax;
            @include mq(lg) {
                font-size: 5vmin;
            }
            font-weight: 100;
            &:focus {
                outline: $marron;
            }
        }
    }
    nav#navegacion {
        background-color: $amarillo;
        a {
            color: $marron;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.3rem;
        }
        div.navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-left: 3vmax;
            flex-direction: column;
            padding: 20px 0;
            @include mq(sm) {
                flex-direction: row;
                padding-bottom: 0;
            }
            @include mq(lg) {
                padding: 0;
            }
            div {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin-bottom: 15px;
                    @include mq(sm){
                        margin-bottom: 0;
                    }
                    span:nth-child(2) {
                        margin-top: 5px;
                        font-size: 2.5rem;
                        opacity: 0;
                        display: none;
                        position: absolute;
                        top: -30%;
                        z-index: 99;
                        transition: opacity 0.1s;
                        @include mq(lg) {
                            padding: 10px;
                            border-radius: 0 0 10px 10px;
                        }
                    }
                }
            }
            &>a {
                color: $marron;
                display: inline-block;
                background-color: $amarillo;
                padding: 10px 30px;
                border-radius: 20px;
                border: 5px solid $marron;
                font-size: 1.2rem;
                transition: all ease-in-out 0.2s;
                &:hover {
                    background-color: $marron;
                    color: $amarillo;
                }
            }
        }
    }
}