/* MEDIA QUERIES */

/* EXTRA LARGE */

@media only screen and (min-width: 1366px) {
    section#banner {
        .row {
            h1 {
                font-size: 7rem;
            }
            h2 {
                font-size: 4rem;
            }
            a {
                padding: 15px 35px;
                font-size: 1.7rem;
            }
        }
    }
}

/* LARGE */

@media only screen and (max-width: 991px) {
    /* CABECERA*/
    header#header {
        nav#navegacion {
            div.navbar-nav {
                padding: 20px 0;
                flex-direction: row;
            }
        }
    }
    /* BUSCADOR*/
    div#buscador {
        width: 50% !important;
    }
    /* BANNER */
    section#banner {
        .row {
            h1 {
                font-size: 4rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
    }
}

/* MEDIUM*/

@media only screen and (max-width: 767px) {
    /* CABECERA */
    header#header {
        padding: 20px 20px;
        position: fixed;
        width: 100%;
        z-index: 9999;
        top: 0;
        nav#navegacion {
            div.navbar-nav {
                flex-direction: column;
                padding: 20px 0;
                div {
                    margin-bottom: 20px;
                }
            }
        }
        div.logo {
            img {
                height: 7.5vmax;
            }
        }
        button {
            span {
                font-size: 5vmax;
            }
        }
    }
    /* BUSCADOR */
    div#buscador {
        font-size: 3vmin;
        width: 60% !important;
    }
    /* BANNER */
    section#banner {
        margin-top: 95px;
        .row {
            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 1.3rem;
            }
        }
    }
    /* MENÚ LATERAL */
    #menu-lateral {
        display: none;
    }
    /* ¿QUÉ ES COOKTO? */
    section#que-es-cookto {
        article {
            .descripcion {
                padding-left: 15px;
                text-align: center;
                margin-bottom: 50px;
                p {
                    text-align: center;
                    width: 100%;
                    padding: 0 30px;
                }
            }
        }
    }
    /* COMER */
    section#comer {
        article {
            .descripcion {
                text-align: center;
                margin-bottom: 50px;
                padding-left: 15px;
                p {
                    text-align: center;
                    width: 100%;
                    padding: 0 30px;
                }
            }
        }
    }
    /* COMPARTIR */
    section#compartir {
        article {
            .descripcion {
                padding-left: 15px;
                text-align: center;
                margin-bottom: 50px;
                p {
                    text-align: center;
                    width: 100%;
                    padding: 0 30px;
                }
            }
        }
    }
    /* APRENDER*/
    section#aprender {
        article {
            .descripcion {
                text-align: center;
                margin-bottom: 50px;
                padding-left: 15px;
                p {
                    text-align: center;
                    width: 100%;
                    padding: 0 30px;
                }
            }
        }
    }
    /* FOOTER */
    footer {
        .row {
            p {
                font-size: 1.2rem;
            }
        }
    }
}

/* SMALL */

@media only screen and (max-width: 575px) {
    /* BUSCADOR */
    div#buscador {
        font-size: 3.5vmin;
        width: 80% !important;
    }
    /* SCROLL TO TOP */
    .go-top {
        bottom: 1rem;
        right: 1rem;
        span {
            padding: 10px;
            font-size: 1.25rem;
        }
    }
}