* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
    font-family: "Catamaran", sans-serif;
}

body,
html {
    font-size: 16px;
}