@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif; }

body,
html {
  font-size: 16px; }

/* HEADER */
header#header {
  background-color: #eeb641;
  padding: 20px 50px;
  border-bottom: 5px solid #3a3028; }
  header#header div.logo {
    padding-left: 3vmax; }
    header#header div.logo img {
      height: 10vmin; }
  header#header button {
    outline: none; }
    header#header button span {
      color: #3a3028;
      font-size: 5vmin;
      font-weight: 100; }
      header#header button span:focus {
        outline: #3a3028; }
  header#header nav#navegacion {
    background-color: #eeb641; }
    header#header nav#navegacion a {
      color: #3a3028;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.3rem; }
    header#header nav#navegacion span {
      font-size: 3rem; }
    header#header nav#navegacion div.navbar-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-left: 3vmax; }
      header#header nav#navegacion div.navbar-nav div a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
      header#header nav#navegacion div.navbar-nav > a {
        color: #eeb641;
        display: inline-block;
        background-color: #3a3028;
        padding: 10px 30px;
        border-radius: 20px; }

/* PÁGINAS */
/* BANNER */
section#banner {
  width: 100%;
  height: calc(100vh - 140px);
  background: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.302)), url(../img/banner.jpg) center center fixed no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  section#banner .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    section#banner .row h1 {
      font-weight: 700;
      color: white;
      text-shadow: 2px 2px 2px black;
      font-size: 5rem;
      letter-spacing: 5px;
      text-align: center; }
    section#banner .row h2 {
      color: white;
      text-shadow: 2px 2px 2px black;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 50px; }
    section#banner .row a {
      color: #3a3028;
      display: inline-block;
      background-color: #eeb641;
      padding: 10px 30px;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1.3rem; }
  section#banner div#buscador {
    background: white;
    position: absolute;
    bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #eeb641;
    width: 35%;
    padding: 0;
    border-radius: 15px; }
    section#banner div#buscador input[type="search"] {
      border-radius: 10px 0 0 10px;
      outline: none;
      border: none;
      padding: 8px 20px;
      width: 100%;
      font-weight: 700;
      color: #3a3028; }
      section#banner div#buscador input[type="search"]::placeholder {
        color: #3a3028;
        opacity: 0.8; }
    section#banner div#buscador a {
      color: #eeb641;
      display: inline-block;
      background-color: #3a3028;
      padding: 12px 10px;
      border-radius: 0 10px 10px 0;
      font-weight: 800;
      display: flex;
      font-size: 1.2rem;
      justify-content: center;
      align-items: center; }

/* ¿QUÉ ES COOKTO? */
section#que-es-cookto {
  background-color: white;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#que-es-cookto article {
    align-items: center; }
    section#que-es-cookto article .descripcion {
      color: #3a3028;
      padding-left: 125px; }
      section#que-es-cookto article .descripcion h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.8rem;
        letter-spacing: 3px;
        margin-bottom: 1.5rem; }
      section#que-es-cookto article .descripcion p {
        width: 90%;
        font-weight: 500;
        font-size: 1.3rem;
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: 30px; }
        section#que-es-cookto article .descripcion p:nth-child(4) {
          margin-bottom: 0; }
        section#que-es-cookto article .descripcion p span {
          font-weight: 800;
          text-transform: uppercase; }
    section#que-es-cookto article .imagen {
      display: flex;
      justify-content: center;
      align-items: center; }
      section#que-es-cookto article .imagen img {
        max-width: 75%;
        border-radius: 50%;
        padding: 10px;
        background-color: #3a3028; }

/* COMER */
section#comer {
  background-color: #eeb641;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#comer article {
    align-items: center; }
    section#comer article .descripcion {
      color: #3a3028;
      padding-left: 50px; }
      section#comer article .descripcion h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.8rem;
        letter-spacing: 3px;
        margin-bottom: 1.5rem; }
      section#comer article .descripcion p {
        width: 80%;
        font-weight: 500;
        font-size: 1.3rem;
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: 30px; }
        section#comer article .descripcion p:nth-child(3) {
          margin-bottom: 0; }
        section#comer article .descripcion p span {
          font-weight: 800; }
    section#comer article .imagen {
      display: flex;
      justify-content: center;
      align-items: center; }
      section#comer article .imagen img {
        max-width: 75%;
        border-radius: 50%;
        padding: 10px;
        background-color: #3a3028; }

/* COMPARTIR */
section#compartir {
  background-color: white;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#compartir article {
    align-items: center; }
    section#compartir article .descripcion {
      color: #3a3028;
      padding-left: 125px; }
      section#compartir article .descripcion h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.8rem;
        letter-spacing: 3px;
        margin-bottom: 1.5rem; }
      section#compartir article .descripcion p {
        width: 90%;
        font-weight: 500;
        font-size: 1.3rem;
        text-align: justify;
        margin-bottom: 30px; }
        section#compartir article .descripcion p:nth-child(3) {
          margin-bottom: 0; }
        section#compartir article .descripcion p span {
          font-weight: 800; }
    section#compartir article .imagen {
      display: flex;
      justify-content: center;
      align-items: center; }
      section#compartir article .imagen img {
        max-width: 75%;
        border-radius: 50%;
        padding: 10px;
        background-color: #3a3028; }

/* APRENDER */
section#aprender {
  background-color: #3a3028;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#aprender article {
    align-items: center; }
    section#aprender article .descripcion {
      color: #eeb641;
      padding-left: 50px; }
      section#aprender article .descripcion h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.8rem;
        letter-spacing: 3px;
        margin-bottom: 1.5rem; }
      section#aprender article .descripcion p {
        width: 80%;
        font-weight: 500;
        font-size: 1.3rem;
        text-align: justify;
        margin-bottom: 30px; }
        section#aprender article .descripcion p:nth-child(3) {
          margin-bottom: 0; }
        section#aprender article .descripcion p span {
          font-weight: 800; }
    section#aprender article .imagen {
      display: flex;
      justify-content: center;
      align-items: center; }
      section#aprender article .imagen img {
        max-width: 75%;
        border-radius: 50%;
        padding: 10px;
        background-color: #eeb641; }

/* FUNCIONALIDADES */
/* MENÚ LATERAL */
#menu-lateral {
  position: fixed;
  top: 33%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #menu-lateral a {
    display: none;
    text-decoration: none;
    margin-top: 30px; }
    #menu-lateral a span {
      font-size: 2.5rem;
      color: #3a3028;
      background-color: #eeb641;
      padding: 10px; }

/* SCROLL TO TOP */
.go-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none; }
  .go-top span {
    background-color: rgba(58, 48, 40, 0.6);
    padding: 15px;
    width: 40px;
    height: 40px;
    color: #eeb641;
    font-size: 2rem;
    border-radius: 50%;
    transition: all 0.2s; }
    .go-top span:hover {
      background-color: #3a3028; }

/* FOOTER */
footer {
  padding: 50px 0;
  background-color: #eeb641; }
  footer .row p {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem; }
    footer .row p span {
      font-weight: 800; }
  footer .row .redes-sociales {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center; }
    footer .row .redes-sociales a span {
      padding: 5px;
      font-size: 3.5rem;
      color: #3a3028;
      transition: all ease-in-out 0.2s; }
      footer .row .redes-sociales a span:hover {
        font-size: 4rem; }
    footer .row .redes-sociales a:nth-child(2) {
      margin: 0 4rem; }

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* EXTRA LARGE */
@media only screen and (min-width: 1366px) {
  section#banner .row h1 {
    font-size: 7rem; }
  section#banner .row h2 {
    font-size: 4rem; }
  section#banner .row a {
    padding: 15px 35px;
    font-size: 1.7rem; } }
/* LARGE */
@media only screen and (max-width: 991px) {
  /* CABECERA*/
  header#header nav#navegacion div.navbar-nav {
    padding: 20px 0;
    flex-direction: row; }

  /* BUSCADOR*/
  div#buscador {
    width: 50% !important; }

  /* BANNER */
  section#banner .row h1 {
    font-size: 4rem; }
  section#banner .row h2 {
    font-size: 1.5rem; } }
/* MEDIUM*/
@media only screen and (max-width: 767px) {
  /* CABECERA */
  header#header {
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0; }
    header#header nav#navegacion div.navbar-nav {
      flex-direction: column;
      padding: 20px 0; }
      header#header nav#navegacion div.navbar-nav div {
        margin-bottom: 20px; }
    header#header div.logo img {
      height: 7.5vmax; }
    header#header button span {
      font-size: 5vmax; }

  /* BUSCADOR */
  div#buscador {
    font-size: 3vmin;
    width: 60% !important; }

  /* BANNER */
  section#banner {
    margin-top: 95px; }
    section#banner .row h1 {
      font-size: 3rem; }
    section#banner .row h2 {
      font-size: 1.3rem; }

  /* MENÚ LATERAL */
  #menu-lateral {
    display: none; }

  /* ¿QUÉ ES COOKTO? */
  section#que-es-cookto article .descripcion {
    padding-left: 15px;
    text-align: center;
    margin-bottom: 50px; }
    section#que-es-cookto article .descripcion p {
      text-align: center;
      width: 100%;
      padding: 0 30px; }

  /* COMER */
  section#comer article .descripcion {
    text-align: center;
    margin-bottom: 50px;
    padding-left: 15px; }
    section#comer article .descripcion p {
      text-align: center;
      width: 100%;
      padding: 0 30px; }

  /* COMPARTIR */
  section#compartir article .descripcion {
    padding-left: 15px;
    text-align: center;
    margin-bottom: 50px; }
    section#compartir article .descripcion p {
      text-align: center;
      width: 100%;
      padding: 0 30px; }

  /* APRENDER*/
  section#aprender article .descripcion {
    text-align: center;
    margin-bottom: 50px;
    padding-left: 15px; }
    section#aprender article .descripcion p {
      text-align: center;
      width: 100%;
      padding: 0 30px; }

  /* FOOTER */
  footer .row p {
    font-size: 1.2rem; } }
/* SMALL */
@media only screen and (max-width: 575px) {
  /* BUSCADOR */
  div#buscador {
    font-size: 3.5vmin;
    width: 80% !important; }

  /* SCROLL TO TOP */
  .go-top {
    bottom: 1rem;
    right: 1rem; }
    .go-top span {
      padding: 10px;
      font-size: 1.25rem; } }

/*# sourceMappingURL=estilos.css.map */
