* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif; }

body,
html {
  font-size: 16px;
  background: linear-gradient(#fff, #ecebeb); }

p {
  margin-bottom: 0; }

header#header {
  background-color: #eeb641;
  box-shadow: 0 2px 2px #3a3028;
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0; }
  @media (min-width: 768px) {
    header#header {
      position: relative;
      z-index: 9999; } }
  @media (min-width: 992px) {
    header#header {
      padding: 20px 30px 20px 30px; } }
  @media (min-width: 1500px) {
    header#header {
      padding: 20px 50px 20px 50px; } }
  header#header div.logo {
    padding-left: 3vmax; }
    header#header div.logo img {
      height: 7.5vmax; }
      @media (min-width: 992px) {
        header#header div.logo img {
          height: 10vmin; } }
  header#header button {
    outline: none; }
    header#header button span {
      color: #3a3028;
      font-size: 5vmax;
      font-weight: 100; }
      @media (min-width: 992px) {
        header#header button span {
          font-size: 5vmin; } }
      header#header button span:focus {
        outline: #3a3028; }
  header#header nav#navegacion {
    background-color: #eeb641; }
    header#header nav#navegacion a {
      color: #3a3028;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.3rem; }
    header#header nav#navegacion div.navbar-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-left: 3vmax;
      flex-direction: column;
      padding: 20px 0; }
      @media (min-width: 576px) {
        header#header nav#navegacion div.navbar-nav {
          flex-direction: row;
          padding-bottom: 0; } }
      @media (min-width: 992px) {
        header#header nav#navegacion div.navbar-nav {
          padding: 0; } }
      header#header nav#navegacion div.navbar-nav div a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 15px; }
        @media (min-width: 576px) {
          header#header nav#navegacion div.navbar-nav div a {
            margin-bottom: 0; } }
        header#header nav#navegacion div.navbar-nav div a span:nth-child(2) {
          margin-top: 5px;
          font-size: 2.5rem;
          opacity: 0;
          display: none;
          position: absolute;
          top: -30%;
          z-index: 99;
          transition: opacity 0.1s; }
          @media (min-width: 992px) {
            header#header nav#navegacion div.navbar-nav div a span:nth-child(2) {
              padding: 10px;
              border-radius: 0 0 10px 10px; } }
      header#header nav#navegacion div.navbar-nav > a {
        color: #3a3028;
        display: inline-block;
        background-color: #eeb641;
        padding: 10px 30px;
        border-radius: 20px;
        border: 5px solid #3a3028;
        font-size: 1.2rem;
        transition: all ease-in-out 0.2s; }
        header#header nav#navegacion div.navbar-nav > a:hover {
          background-color: #3a3028;
          color: #eeb641; }

section#banner {
  width: 100%;
  min-height: calc(100vh - 140px);
  background: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.302)), url(../img/banner.jpg) center center fixed no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 5px solid #eeb641;
  margin-top: 95px; }
  @media (min-width: 768px) {
    section#banner {
      margin-top: 0; } }
  section#banner .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    section#banner .row h1 {
      font-weight: 700;
      color: white;
      text-shadow: 2px 2px 2px black;
      font-size: 3rem;
      letter-spacing: 5px;
      text-align: center; }
      @media (min-width: 768px) {
        section#banner .row h1 {
          font-size: 4rem; } }
      @media (min-width: 992px) {
        section#banner .row h1 {
          font-size: 5rem; } }
      @media (min-width: 1500px) {
        section#banner .row h1 {
          font-size: 7rem; } }
      @media (max-height: 450px) {
        section#banner .row h1 {
          font-size: 3rem; } }
    section#banner .row h2 {
      color: white;
      text-shadow: 2px 2px 2px black;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 50px; }
      @media (min-width: 768px) {
        section#banner .row h2 {
          font-size: 1.5rem; } }
      @media (min-width: 992px) {
        section#banner .row h2 {
          font-size: 2rem; } }
      @media (min-width: 1500px) {
        section#banner .row h2 {
          font-size: 4rem; } }
      @media (max-height: 450px) {
        section#banner .row h2 {
          font-size: 1.5rem;
          margin-bottom: 20px; } }
    section#banner .row a {
      color: #3a3028;
      display: inline-block;
      background-color: #eeb641;
      padding: 7.5px 25px;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1.1rem;
      transition: all ease-in-out 0.2s;
      letter-spacing: 1px; }
      @media (min-width: 768px) {
        section#banner .row a {
          padding: 10px 30px;
          font-size: 1.3rem; } }
      @media (min-width: 1500px) {
        section#banner .row a {
          padding: 15px 35px;
          font-size: 1.7rem; } }
      @media (max-height: 450px) {
        section#banner .row a {
          padding: 5px 20px;
          font-size: 0.9rem; } }
      section#banner .row a:hover {
        background: #3a3028;
        color: #eeb641; }

section#que-es-cookto {
  background-color: white;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#que-es-cookto article {
    align-items: center; }
    section#que-es-cookto article .descripcion {
      color: #3a3028;
      padding-left: 15px;
      text-align: center;
      margin-bottom: 50px; }
      @media (min-width: 768px) {
        section#que-es-cookto article .descripcion {
          padding-left: 125px;
          text-align: left;
          margin-bottom: 0; } }
      section#que-es-cookto article .descripcion h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.8rem;
        letter-spacing: 3px;
        margin-bottom: 1.5rem; }
      section#que-es-cookto article .descripcion p {
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
        padding: 0 30px; }
        @media (min-width: 768px) {
          section#que-es-cookto article .descripcion p {
            text-align: left;
            width: 90%;
            padding: 0; } }
        section#que-es-cookto article .descripcion p:nth-child(4) {
          margin-bottom: 0; }
        section#que-es-cookto article .descripcion p span {
          font-weight: 800;
          text-transform: uppercase; }
    section#que-es-cookto article .imagen {
      display: flex;
      justify-content: center;
      align-items: center; }
      section#que-es-cookto article .imagen img {
        max-width: 75%;
        border-radius: 50%;
        padding: 10px;
        background-color: #3a3028; }

section#comer {
  background-color: #eeb641;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#comer article {
    align-items: center; }
    section#comer article .descripcion {
      color: #3a3028;
      text-align: center;
      margin-bottom: 50px;
      padding-left: 15px; }
      @media (min-width: 768px) {
        section#comer article .descripcion {
          text-align: left;
          margin-bottom: 0;
          padding-left: 50px; } }
      section#comer article .descripcion h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.8rem;
        letter-spacing: 3px;
        margin-bottom: 1.5rem; }
      section#comer article .descripcion p {
        width: 100%;
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 30px;
        text-align: center;
        padding: 0 30px; }
        section#comer article .descripcion p:nth-child(3) {
          margin-bottom: 0; }
        @media (min-width: 768px) {
          section#comer article .descripcion p {
            text-align: left;
            width: 80%;
            padding: 0; } }
        section#comer article .descripcion p span {
          font-weight: 800; }
    section#comer article .imagen {
      display: flex;
      justify-content: center;
      align-items: center; }
      section#comer article .imagen img {
        max-width: 75%;
        border-radius: 50%;
        padding: 10px;
        background-color: #3a3028; }

section#compartir {
  background-color: white;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#compartir article {
    align-items: center; }
    section#compartir article .descripcion {
      color: #3a3028;
      padding-left: 15px;
      text-align: center;
      margin-bottom: 50px; }
      @media (min-width: 768px) {
        section#compartir article .descripcion {
          padding-left: 125px;
          text-align: left;
          margin-bottom: 0; } }
      section#compartir article .descripcion h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.8rem;
        letter-spacing: 3px;
        margin-bottom: 1.5rem; }
      section#compartir article .descripcion p {
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
        padding: 0 30px; }
        section#compartir article .descripcion p:nth-child(3) {
          margin-bottom: 0; }
        @media (min-width: 768px) {
          section#compartir article .descripcion p {
            text-align: left;
            width: 90%;
            padding: 0; } }
        section#compartir article .descripcion p span {
          font-weight: 800; }
    section#compartir article .imagen {
      display: flex;
      justify-content: center;
      align-items: center; }
      section#compartir article .imagen img {
        max-width: 75%;
        border-radius: 50%;
        padding: 10px;
        background-color: #3a3028; }

section#aprender {
  background-color: #3a3028;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#aprender article {
    align-items: center; }
    section#aprender article .descripcion {
      color: #eeb641;
      text-align: center;
      margin-bottom: 50px;
      padding-left: 15px; }
      @media (min-width: 768px) {
        section#aprender article .descripcion {
          text-align: left;
          margin-bottom: 0;
          padding-left: 50px; } }
      section#aprender article .descripcion h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.8rem;
        letter-spacing: 3px;
        margin-bottom: 1.5rem; }
      section#aprender article .descripcion p {
        width: 100%;
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 30px;
        text-align: center;
        padding: 0 30px; }
        section#aprender article .descripcion p:nth-child(3) {
          margin-bottom: 0; }
        @media (min-width: 768px) {
          section#aprender article .descripcion p {
            width: 80%;
            text-align: left;
            padding: 0; } }
        section#aprender article .descripcion p span {
          font-weight: 800; }
    section#aprender article .imagen {
      display: flex;
      justify-content: center;
      align-items: center; }
      section#aprender article .imagen img {
        max-width: 75%;
        border-radius: 50%;
        padding: 10px;
        background-color: #eeb641; }

div#buscador {
  background: white;
  position: absolute;
  bottom: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #eeb641;
  width: 80%;
  box-shadow: 0 2px 4px 0 rgba(58, 48, 40, 0.5);
  padding: 0;
  border-radius: 15px; }
  @media (min-width: 576px) {
    div#buscador {
      width: 60%; } }
  @media (min-width: 768px) {
    div#buscador {
      width: 50%; } }
  @media (min-width: 992px) {
    div#buscador {
      width: 35%; } }
  div#buscador input[type="search"] {
    border-radius: 10px 0 0 10px;
    outline: none;
    border: none;
    padding: 8px 20px;
    width: 100%;
    font-weight: 700;
    color: #3a3028; }
    div#buscador input[type="search"]::placeholder {
      color: #3a3028;
      opacity: 0.8;
      font-size: 3.5vmin; }
      @media (min-width: 576px) {
        div#buscador input[type="search"]::placeholder {
          font-size: 1rem; } }
  div#buscador a {
    color: #eeb641;
    display: inline-block;
    background-color: #3a3028;
    padding: 12px 10px;
    border-radius: 0 10px 10px 0;
    font-weight: 800;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #3a3028; }

section#banner-buscador {
  width: 100%;
  min-height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.302)), url(http://www.granadatur.com/media/images/xAlbaicin_Granada_2.jpg.pagespeed.ic.4zfoQAN6eM.jpg) center center fixed no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 5px solid #eeb641;
  margin-top: 95px; }
  @media (min-width: 768px) {
    section#banner-buscador {
      margin-top: 0; } }
  section#banner-buscador .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    section#banner-buscador .row h1 {
      font-weight: 700;
      color: white;
      text-shadow: 2px 2px 2px black;
      font-size: 4rem;
      letter-spacing: 5px;
      text-align: center; }
      @media (min-width: 768px) {
        section#banner-buscador .row h1 {
          font-size: 5rem; } }

section#filtros {
  padding: 100px 10% 100px 10%; }
  section#filtros .row div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0; }
    section#filtros .row div:nth-child(1) {
      margin-bottom: 50px; }
      @media (min-width: 992px) {
        section#filtros .row div:nth-child(1) {
          margin-bottom: 0; } }
    section#filtros .row div span {
      padding: 15px;
      background: #3a3028;
      color: #eeb641;
      font-size: 3.75rem;
      border-radius: 15px;
      box-shadow: 0 2px 4px 0 rgba(58, 48, 40, 0.5); }
      @media (min-width: 992px) {
        section#filtros .row div span {
          padding: 17.5px;
          font-size: 4.5rem; } }

section#anuncios {
  width: 90%; }
  section#anuncios h2 {
    text-align: center;
    margin-bottom: 50px; }
  section#anuncios .row div.anuncio {
    width: 100%;
    max-width: 300px;
    height: 375px;
    background-color: red;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 50px; }
    section#anuncios .row div.anuncio div.foto-precio {
      border-radius: 15px 15px 0 0;
      height: 60%;
      background: url(../img/buscador-fondo.jpg) center center no-repeat;
      background-size: cover;
      position: relative; }
      section#anuncios .row div.anuncio div.foto-precio span.precio {
        background-color: #eeb641;
        color: #3a3028;
        font-weight: 800;
        padding: 10px;
        border-radius: 0 15px 0 15px;
        position: absolute;
        top: 0;
        right: 0; }
      section#anuncios .row div.anuncio div.foto-precio p.titulo {
        text-transform: uppercase;
        color: white;
        font-weight: 800;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
        padding: 5px 0; }
    section#anuncios .row div.anuncio div.reserva {
      padding: 15px;
      width: 100%;
      height: 40%; }
      section#anuncios .row div.anuncio div.reserva div.foto-reserva {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        section#anuncios .row div.anuncio div.reserva div.foto-reserva img.foto-perfil {
          width: 50px;
          height: 50px;
          border-radius: 50%; }

#menu-lateral {
  display: none; }
  @media (min-width: 768px) {
    #menu-lateral {
      position: fixed;
      top: 33%;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #menu-lateral a {
        display: none;
        text-decoration: none;
        margin-top: 30px; }
        #menu-lateral a span {
          box-shadow: 0 2px 4px 0 rgba(58, 48, 40, 0.5);
          font-size: 2.5rem;
          color: #3a3028;
          background-color: #eeb641;
          border-radius: 10px 0 0 10px;
          padding: 10px;
          transition: all ease-in-out 0.2s; }
          #menu-lateral a span:hover {
            color: #eeb641;
            background-color: #3a3028; } }

footer {
  padding: 50px 0;
  background-color: #eeb641; }
  footer .row p {
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      footer .row p {
        font-size: 1.5rem; } }
    footer .row p span {
      font-weight: 800; }
  footer .row .redes-sociales {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center; }
    footer .row .redes-sociales a span {
      padding: 5px;
      font-size: 3.5rem;
      color: #3a3028;
      transition: all ease-in-out 0.2s; }
      footer .row .redes-sociales a span:hover {
        font-size: 4rem; }
    footer .row .redes-sociales a:nth-child(2) {
      margin: 0 4rem; }

/*# sourceMappingURL=estilos.css.map */
