$amarillo: #eeb641;
$marron: #3a3028;
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Catamaran", sans-serif;
}

body,
html {
    font-size: 16px;
}

header#header {
    background-color: $amarillo;
    padding: 20px 50px;
    div.logo {
        padding-left: 3vmax;
        img {
            height: 10vmin;
        }
    }
    button {
        span {
            color: $marron;
            font-size: 3rem;
            font-weight: bold;
            outline: none;
        }
    }
    nav#navegacion {
        background-color: $amarillo;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        a {
            color: $marron;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.3rem;
        }
        span {
            font-size: 3rem;
        }
        div.navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-left:3vmax;
            div a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &>a {
                color: $amarillo;
                display: inline-block;
                background-color: $marron;
                padding: 10px 30px;
                border-radius: 20px;
            }
        }
    }
}

footer {
    background-color: $amarillo;
}

/* MEDIA QUERIES */

// @media only screen and (max-width: 991px) {
//     nav#navegacion {
//         margin-top: 200px;
//     }
// }