@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jr0x02');
  src:  url('fonts/icomoon.eot?jr0x02#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jr0x02') format('truetype'),
    url('fonts/icomoon.woff?jr0x02') format('woff'),
    url('fonts/icomoon.svg?jr0x02#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-buscador:before {
  content: "\e906";
}
.icon-aprender:before {
  content: "\e900";
}
.icon-comer:before {
  content: "\e901";
}
.icon-compartir:before {
  content: "\e902";
}
