div#buscador {
    background: white;
    position: absolute;
    bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid $amarillo;
    width: 80%;
     box-shadow: 0 2px 4px 0 rgba(58, 48, 40, 0.5);
    @include mq(sm) {
        width: 60%;
    }
    @include mq (md) {
        width: 50%;
    }
    @include mq(lg) {
        width: 35%;
    }
    padding: 0;
    border-radius: 15px;
    input[type="search"] {
        border-radius: 10px 0 0 10px;
        outline: none;
        border: none;
        padding: 8px 20px;
        width: 100%;
        font-weight: 700;
        color: $marron;
        &::placeholder {
            color: $marron;
            opacity: 0.8;
            font-size: 3.5vmin;
            @include mq(sm) {
                font-size: 1rem;
            }
        }
    }
    a {
        color: $amarillo;
        display: inline-block;
        background-color: $marron;
        padding: 12px 10px;
        border-radius: 0 10px 10px 0;
        font-weight: 800;
        display: flex;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        border: 1.5px solid $marron;
    }
}