// /* BANNER */
section#banner {
    width: 100%;
    min-height: calc(100vh - 140px);
    background: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.302)), url(../img/banner.jpg) center center fixed no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 5px solid $amarillo;
    margin-top: 95px;
    @include mq(md) {
        margin-top: 0;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            font-weight: 700;
            color: white;
            text-shadow: 2px 2px 2px black;
            font-size: 3rem;
            letter-spacing: 5px;
            text-align: center;
            @include mq(md) {
                font-size: 4rem;
            }
            @include mq(lg) {
                font-size: 5rem;
            }
            @include mq(xlg) {
                font-size: 7rem;
            }
            @include mq(lscape) {
                font-size: 3rem;
            }
        }
        h2 {
            color: white;
            text-shadow: 2px 2px 2px black;
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: 50px;
            @include mq(md) {
                font-size: 1.5rem;
            }
            @include mq(lg) {
                font-size: 2rem;
            }
            @include mq(xlg) {
                font-size: 4rem;
            }
            @include mq(lscape) {
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
        }
        a {
            color: $marron;
            display: inline-block;
            background-color: $amarillo;
            padding: 7.5px 25px;
            border-radius: 20px;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 1.1rem;
            transition: all ease-in-out 0.2s;
            letter-spacing: 1px;
            @include mq(md) {
                padding: 10px 30px;
                font-size: 1.3rem;
            }
            @include mq(xlg) {
                padding: 15px 35px;
                font-size: 1.7rem;
            }
            @include mq(lscape) {
                padding: 5px 20px;
                font-size: 0.9rem;
            }
            &:hover {
                background: $marron;
                color: $amarillo;
            }
        }
    }
}

// /* ¿QUÉ ES COOKTO? */
section#que-es-cookto {
    background-color: white;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    article {
        align-items: center;
        .descripcion {
            color: $marron;
            padding-left: 15px;
            text-align: center;
            margin-bottom: 50px;
            @include mq(md) {
                padding-left: 125px;
                text-align: left;
                margin-bottom: 0;
            }
            h2 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2.8rem;
                letter-spacing: 3px;
                margin-bottom: 1.5rem;
            }
            p {
                font-weight: 500;
                font-size: 1.3rem;
                margin-bottom: 30px;
                text-align: center;
                width: 100%;
                padding: 0 30px; // line-height: 40px;
                @include mq(md) {
                    text-align: left;
                    width: 90%;
                    padding: 0;
                }
                &:nth-child(4) {
                    margin-bottom: 0;
                }
                span {
                    font-weight: 800;
                    text-transform: uppercase;
                }
            }
        }
        .imagen {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 75%;
                border-radius: 50%;
                padding: 10px;
                background-color: $marron;
            }
        }
    }
} // /* COMER */
section#comer {
    background-color: $amarillo;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    article {
        align-items: center;
        .descripcion {
            color: $marron;
            text-align: center;
            margin-bottom: 50px;
            padding-left: 15px;
            @include mq(md) {
                text-align: left;
                margin-bottom: 0;
                padding-left: 50px;
            }
            h2 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2.8rem;
                letter-spacing: 3px;
                margin-bottom: 1.5rem;
            }
            p {
                width: 100%;
                font-weight: 500;
                font-size: 1.3rem;
                margin-bottom: 30px;
                text-align: center;
                padding: 0 30px;
                &:nth-child(3) {
                    margin-bottom: 0;
                }
                @include mq(md) {
                    text-align: left;
                    ;
                    width: 80%;
                    padding: 0;
                }
                span {
                    font-weight: 800;
                }
            }
        }
        .imagen {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 75%;
                border-radius: 50%;
                padding: 10px;
                background-color: $marron;
            }
        }
    }
} // /* COMPARTIR */
section#compartir {
    background-color: white;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    article {
        align-items: center;
        .descripcion {
            color: $marron;
            padding-left: 15px;
            text-align: center;
            margin-bottom: 50px;
            @include mq(md) {
                padding-left: 125px;
                text-align: left;
                margin-bottom: 0;
            }
            h2 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2.8rem;
                letter-spacing: 3px;
                margin-bottom: 1.5rem;
            }
            p {
                font-weight: 500;
                font-size: 1.3rem;
                margin-bottom: 30px;
                text-align: center;
                width: 100%;
                padding: 0 30px;
                &:nth-child(3) {
                    margin-bottom: 0;
                }
                @include mq(md) {
                    text-align: left;
                    width: 90%;
                    padding: 0;
                }
                span {
                    font-weight: 800;
                }
            }
        }
        .imagen {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 75%;
                border-radius: 50%;
                padding: 10px;
                background-color: $marron;
            }
        }
    }
} // /* APRENDER */
section#aprender {
    background-color: $marron;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    article {
        align-items: center;
        .descripcion {
            color: $amarillo;
            text-align: center;
            margin-bottom: 50px;
            padding-left: 15px;
            @include mq(md) {
                text-align: left;
                margin-bottom: 0;
                padding-left: 50px;
            }
            h2 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2.8rem;
                letter-spacing: 3px;
                margin-bottom: 1.5rem;
            }
            p {
                width: 100%;
                font-weight: 500;
                font-size: 1.3rem;
                margin-bottom: 30px;
                text-align: center;
                padding: 0 30px;
                &:nth-child(3) {
                    margin-bottom: 0;
                }
                @include mq(md) {
                    width: 80%;
                    text-align: left;
                    padding: 0;
                }
                span {
                    font-weight: 800;
                }
            }
        }
        .imagen {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 75%;
                border-radius: 50%;
                padding: 10px;
                background-color: $amarillo;
            }
        }
    }
}