// BANNER
section#banner-buscador {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.302)), url(http://www.granadatur.com/media/images/xAlbaicin_Granada_2.jpg.pagespeed.ic.4zfoQAN6eM.jpg) center center fixed no-repeat, ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 5px solid $amarillo;
    margin-top: 95px;
    @include mq(md) {
        margin-top: 0;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            font-weight: 700;
            color: white;
            text-shadow: 2px 2px 2px black;
            font-size: 4rem;
            letter-spacing: 5px;
            text-align: center;
            @include mq (md) {
                font-size: 5rem;
            }
        }
    }
}

// FILTROS
section#filtros {
    padding: 100px 10% 100px 10%;
    .row {
        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            &:nth-child(1) {
                margin-bottom: 50px;
                @include mq(lg) {
                    margin-bottom: 0;
                }
            }
            span {
                padding: 15px;
                background: $marron;
                color: $amarillo;
                font-size: 3.75rem;
                border-radius: 15px;
                box-shadow: 0 2px 4px 0 rgba(58, 48, 40, 0.5);
                @include mq(lg) {
                    padding: 17.5px;
                    font-size: 4.5rem;
                }
            }
        }
    }
}

// ANUNCIOS
section#anuncios {
    width: 90%;
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
    .row {
        div.anuncio {
            width: 100%;
            max-width: 300px;
            height: 375px;
            background-color: red;
            border-radius: 15px;
            margin: 0 auto;
            margin-bottom: 50px;
            div.foto-precio {
                border-radius: 15px 15px 0 0;
                height: 60%;
                background: url(../img/buscador-fondo.jpg) center center no-repeat;
                ;
                background-size: cover;
                position: relative;
                span.precio {
                    background-color: $amarillo;
                    color: $marron;
                    font-weight: 800;
                    padding: 10px;
                    border-radius: 0 15px 0 15px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                p.titulo {
                    text-transform: uppercase;
                    color: white;
                    font-weight: 800;
                    position: absolute;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    text-align: center;
                    width: 100%;
                    letter-spacing: 1px;
                    padding: 5px 0;
                }
            }
            div.reserva {
                padding: 15px;
                width: 100%;
                height: 40%;
                div.foto-reserva {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img.foto-perfil {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}